<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <img src="images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/">
                        <i class="fas fa-tachometer-alt"></i>Bảng điều khiển</a>
                </li>


                <li class="has-sub">
                    <a class="js-arrow" href="/qlproduct">
                        <i class="fas fa-table"></i>Quản lý sản phẩm</a>
                </li>

               
                <li class="has-sub">
                    <a class="js-arrow" href="/addproduct">
                        <i class="far fa-check-square"></i>Thêm sản phẩm</a>
                </li>

            </ul>
        </nav>
    </div>
</aside>